.packages-title{
    color: #271e3f;
    font-size: 30px;
    padding-top: 67px;
    padding-bottom: 67px;
    text-align: center;
    text-transform: uppercase;
}
.packages-container{
    width: 100%;
    padding-left: 2.8%;
    padding-right: 2.8%;
}
.packages-box{
    width: 27.63%;
    float: left;
    margin-left: 2.7%;
    margin-bottom: 52px;
}
